<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I'm very passionate about solving problems using the tools in data science and machine learning. This page is where I document all my notes and projects. </p>
    
  </div>
  <div id="social">
   Linkedin:<https://www.linkedin.com/in/eliyeo/>
     Github:<https://github.com/lizsyeo>
  </div>
</nav>
